{% extends "front/menu.html" %}
 
 
{% block content %}
 
        <!--**********************************
            cuadro
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Accesos</h4>
                            <span class="ml-1">------------------</span>
                        </div>
                    </div>
 
                </div>
                <!-- cuadro -->
 
 
                <div class="row">
                    <div class="col-12">
                        <div class="card">
 
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example" class="display" style="min-width: 845px">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Position</th>
                                                <th>Office</th>
                                                <th>Age</th>
                                                <th>Start date</th>
                                                <th>Salary</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Tiger Nixon</td>
                                                <td>System Architect</td>
                                                <td>Edinburgh</td>
                                                <td>61</td>
                                                <td>2011/04/25</td>
                                                <td>$320,800</td>
                                            </tr>
                                            <!-- Resto de los datos de la tabla -->
                                        </tbody>
 
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
 
                </div>
            </div>
        </div>
 
        
 
{% endblock %}